{% extends 'base.html' %}

{% block title %}
Pagina di Registrazione
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img src='https://i.postimg.cc/sXv0XKm3/Frame-1.png' class="d-block mx-auto"/>
            <h1 class="h3 mb-3 text-center font-weight-normal">Per favore crea il tuo account</h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Nome utente") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="mario_rossi@email.com") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="non farti vedere") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Conferma la password") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>

{% endblock %}